In [1]:
print ("hello world")

hello world

In [2]:
str1="hi"
int1=26
print(str1)
print(int1)

hi
26

In [6]:
#condition
gba=2.8
if gba>3.7:
    print("excellent")
elif gba <3.7 and gba>=3.0  :
    print("very good")
elif gba<3.0 and gba>=2.7:
    print("good")
else :
    print("acceptable")

good

In [10]:
#ordered
word=["a","b","c","d"]
print(word[1])
#list item
print(word[-1])
#range
print(word[1:3])
word.insert(4, 'e')
print(word)
del word[4]
print(word)

b
d
['b', 'c']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']

In [17]:
#loops
names = ['ahmed', 'saad', 'ali', 'osama']
for name in names:
    print('i am ' + name )

i am ahmed
i am saad
i am ali
i am osama

In [18]:
names = ['ahmed', 'saad', 'ali', 'osama']
student = []
for name_0 in names:
    for name_1 in names:
        student.append(
            (name_0, name_1)
        )

student

[('ahmed', 'ahmed'),
 ('ahmed', 'saad'),
 ('ahmed', 'ali'),
 ('ahmed', 'osama'),
 ('saad', 'ahmed'),
 ('saad', 'saad'),
 ('saad', 'ali'),
 ('saad', 'osama'),
 ('ali', 'ahmed'),
 ('ali', 'saad'),
 ('ali', 'ali'),
 ('ali', 'osama'),
 ('osama', 'ahmed'),
 ('osama', 'saad'),
 ('osama', 'ali'),
 ('osama', 'osama')]

In [24]:
#nested loops
names = ['ahmed', 'saad', 'ali', 'osama']
student = []
for name_0 in names:
    for name_1 in names:
        if name_0 != name_1:
        
        student.append((name_0, name_1))
            
        

student

[('ahmed', 'saad'),
 ('ahmed', 'ali'),
 ('ahmed', 'osama'),
 ('saad', 'ahmed'),
 ('saad', 'ali'),
 ('saad', 'osama'),
 ('ali', 'ahmed'),
 ('ali', 'saad'),
 ('ali', 'osama'),
 ('osama', 'ahmed'),
 ('osama', 'saad'),
 ('osama', 'ali')]

In [37]:
#dictionary
names_grade = {'ahmed': 'A',
               'ali': 'B+',
               'mahmoud': 'c',}
print(names_grade)
print(names_grade['ahmed'])
#check if the key is in dictionary
'osama' in names_grade

{'ahmed': 'A', 'ali': 'B+', 'mahmoud': 'c'}
A

False